:root {
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgc: #ffffff;
  --secondary-bgc: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-bgc);
}

/* HEADER  */

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.footer-logo,
.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: var(--black-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.blue-logo {
  color: var(--accent-color);
}

.nav-list {
  list-style-type: none;
}

.nav-list-link {
  text-decoration: none;
  color: var(--tittle-text-color);
}

.contacts-list {
  list-style-type: none;
  color: var(--primary-text-color);
}

.contacts-list-link {
  text-decoration: none;
  color: var(--tittle-text-color);
}

.contacts-list-link:hover,
.contacts-list-link:focus,
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

/* HERO  */
.studio {
  text-align: center;
}
.hero {
  color: var(--primary-bgc);
  background-color: var(--secondary-bgc);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.hero-btn {
  color: var(--primary-bgc);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--accent-color);
}

/* Особенности  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  list-style-type: none;
  width: 1170px;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-color);
  text-align: left;
}

.feature-list-item {
}

.feature-list-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--tittle-text-color);
}

/* Деятельность + Команда */

.activity-list {
  list-style-type: none;
}

.studio-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--tittle-text-color);
}

.team {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.19;
}

.team-list {
  list-style-type: none;
}

.team-list-tittle {
  font-weight: 500;
  color: var(--tittle-text-color);
}

.team-list-discription {
  color: var(--primary-text-color);
}

.team-list-item {
}

/* ПОРТФОЛИО  */
.portfolio {
  text-align: center;
}

.btn-list {
  list-style-type: none;
}

.btn {
  text-decoration: none;
  color: var(--tittle-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--primary-bgc);
  background: var(--accent-color);
}

.portfolio-list {
  list-style-type: none;
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-list-link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.portfolio-list-tittle {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

/* ФУТЕР  */

.footer {
  background-color: var(--secondary-bgc);
}

.footer-logo {
  color: var(--primary-bgc);
}

.adress {
  color: var(--primary-bgc);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.contact-list {
  list-style-type: none;
}

.contact-list-link {
  text-decoration: none;
  color: var(--secondary-text-color);
}
