:root {
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --black-color: #000000;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bgc: #ffffff;
  --secondary-bgc: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-bgc);
  letter-spacing: 0.03em;
}

/* HEADER  */
.nav,
.header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ececec;
}

.footer-logo,
.logo {
  text-decoration: none;
  font-family: "Raleway";
  color: var(--black-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin: 24px 93px 25px 215px;
}

.blue-logo {
  color: var(--accent-color);
}

.nav-list,
.feature-list,
.activity-list,
.team-list,
.btn-list,
.portfolio-list,
.contacts-list {
  list-style-type: none;
  margin-top: 32px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  width: 294px;
}

.nav-list-link {
  text-decoration: none;
  color: var(--tittle-text-color);
}

.contacts-list {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-left: 281px;
}

.contacts-list-link {
  text-decoration: none;
  color: var(--tittle-text-color);
  margin-left: 50px;
}

.contacts-list-link:hover,
.contacts-list-link:focus,
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

/* HERO  */
.studio {
  text-align: center;
}
.hero {
  color: var(--primary-bgc);
  background-color: var(--secondary-bgc);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-tittle {
  padding-top: 200px;
}
.hero-btn {
  color: var(--primary-bgc);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-bottom: 200px;
}

/* Особенности  */
.features {
  display: flex;
  justify-content: center;
}

.feature-tittle {
  display: none;
}

.feature-list {
  display: flex;
  width: 1170px;
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-text-color);
  text-align: left;
  margin-top: 94px;
}

.feature-list-item {
  width: 400px;
  margin-right: 30px;
}

.feature-list-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--tittle-text-color);
}

/* Деятельность + Команда */

.activity {
}

.studio-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--tittle-text-color);
  padding-top: 94px;
}

.team-list,
.activity-list {
  display: flex;
  justify-content: center;
}

.team-list-item,
.activity-list-item {
  margin: 50px 15px 94px 15px;
}

.team {
  background-color: #f5f4fa;
}

.team-list-tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.team-list-discription {
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-text-color);
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bgc);
}

/* ПОРТФОЛИО  */
.portfolio {
  display: flex;
  justify-content: center;
  margin-top: 94px;
}

.content-tittle {
  display: none;
}

.btn-list {
  display: flex;
  justify-content: center;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--tittle-text-color);
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--primary-bgc);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  column-count: 3;
  margin-top: 34px;
}
.portfolio-list-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-text-color);
}

.portfolio-list-item {
  border: 1px solid #eeeeee;
  margin: 0 10px 30px 10px;
}

.portfolio-list-tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--tittle-text-color);
  margin: 20px 0 4px 24px;
}
.portfolio-list-description {
  margin: 0 0 20px 24px;
}

/* ФУТЕР  */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-bgc);
  height: 252px;
}

.footer-logo {
  margin: 0 0 0 215px;
  color: var(--primary-bgc);
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-bgc);
}

.adds {
  margin-bottom: 0;
  margin-left: 215px;
}

.contact-list {
  list-style-type: none;
}

.contact-list-link {
  text-decoration: none;
  color: var(--secondary-text-color);
  margin-left: 175px;
  margin-bottom: 9px;
  margin-top: 0;
}
